<header class="header">
    <div class="logo">
        <h1>ProLearn</h1> <!-- Your Logo -->
    </div>
    <nav class="nav-links">
        <a routerLink="/" routerLinkActive="active">Home</a> <!-- Link to the landing page -->
        <a routerLink="/about" routerLinkActive="active">About</a> <!-- Link to the About component -->
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a> <!-- Link to the Register page -->
    </nav>
</header>
