<!-- src/app/contact/contact.component.html -->
<app-header></app-header>
<body class="a">
    

    <h1>Contact Us</h1>
    <p>Thank you for visiting our project. If you have any questions, suggestions, or feedback, please feel free to reach out to us. We value your input and are here to assist you.</p>
    <p>You can contact us via email at:</p>
    <ul>
        <li><strong>Adithya Krishna</strong>: <a href="mailto:Adithya.Krishna@ust.com">Adithya.Krishna@ust.com</a></li>
        <li><strong>Rohith Suryaneni</strong>: <a href="mailto:rohith.suryaneni@ust.com">rohith.suryaneni@ust.com</a></li>
    </ul>
    <p>We look forward to hearing from you!</p>
    
</body>
<app-footer></app-footer>
