<!-- src/app/about/about.component.html -->
<app-header></app-header>
<body class="a">
    

    <h1>About Us</h1>
    <p>Welcome to our project. We are Adithya Krishna and Rohith Suryaneni, developers currently pursuing the UST Full Stack Java Developer program. As part of our capstone project, we have designed and developed this application to demonstrate our proficiency in full-stack development.</p>
    <p>This project combines various technologies and best practices in Java, Spring Boot, Angular, and related frameworks to build a scalable and efficient application. Our focus is on delivering a seamless user experience while ensuring robust backend architecture and front-end performance.</p>
    <p>Through this initiative, we aim to showcase the practical application of the skills we've acquired throughout the program, with an emphasis on industry standards and modern development practices. We welcome your feedback and look forward to further enhancing this project.</p>
    
</body>
<app-footer></app-footer>
