<!-- src/app/terms/terms.component.html -->
<app-header></app-header>

<body class="a">
    <h1 >Terms and Conditions</h1>
<div class="b">
    <p>Welcome to our website. These Terms and Conditions govern your <br>
        access to and use of our services. By using this website, <br>
        you agree to comply with and be bound by the following terms. 
        <br>
        Please read them carefully.</p>
    <p>If you do not agree with any of the terms outlined below,<br>
         you are not permitted to use our services.<br>
          Continued use of this website constitutes your acceptance of these terms.</p>
        </div>
    <div class="content">
        <h2>1. Acceptance of Terms</h2>
        <p>By accessing and using this website, you confirm your acceptance of these<br>
             Terms and Conditions. These terms are subject to change, and it is your <br>
             responsibility to review them regularly.</p>
        
        <h2>2. Use of Services</h2>
        <p>You agree to use our services only for lawful purposes and in accordance with<br>
             applicable laws. Any unauthorized use of the website, including but not limited <br>
             to fraud, infringement of intellectual property rights, or distribution of harmful <br>
             software, is prohibited.</p>
        
        <h2>3. Privacy Policy</h2>
        <p>Your privacy is important to us. Please refer to our Privacy Policy for information about<br>
             how we collect, use, and protect your personal data.</p>
        
        <h2>4. Limitation of Liability</h2>
        <p>We will not be liable for any damages arising from the use or inability to use this website,<br>
             including but not limited to any direct, indirect, incidental, special, or consequential damages.</p>
        
        <h2>5. Governing Law</h2>
        <p>These Terms and Conditions are governed by and construed in accordance with the laws of the <br>
            jurisdiction in which we operate. Any disputes arising from these terms will be resolved within<br>
             the competent courts of that jurisdiction.</p>
        
        <h2>6. Modifications</h2>
        <p>We reserve the right to modify, update, or revise these Terms and Conditions at any time without<br>
             prior notice. Changes will be effective immediately upon posting on this website.</p>
    </div>
    
    <p class="b">If you have any questions regarding these Terms and Conditions, please contact us using the information <br>
        provided on our Contact Us page.</p>

</body>

<app-footer></app-footer>
